.slider-container {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 90%;
    padding: 30px;
    margin: 0 auto;
    border: solid 3px white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
