.bus-route {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.bus-stop {
    margin-bottom: 30px; /* Increased margin-bottom for spacing */
    position: relative;
    text-align: center; /* Center-align stop text */
}

.bus-stop:last-child {
    margin-bottom: 0;
}

.stop-name {
    font-weight: bold;
}

.dashed-line {
    width: 0;
    height: 30px;
    border-left: 2px dashed #000;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}